@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lusitana:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Lusitana', sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    align-items: center;
    display: flex;
    padding: 1rem;
    background-color: #fa8d2e;
}

.logo {
    display: flex;
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
}

.add {
    background-color: #ffffff;
    border-radius: 20%;
    border-color: #fa8d2e;
    font-size: 20px;
    padding: 10px 5px;
}

ul{

    display: flex;
 }
